<ion-view view-title="Main">
      
<ion-header-bar class="bar-positive">
	<h1 class="title">Atividades</h1>
</ion-header-bar>

<ion-content>
	<div class="list">
	
		<a class="item item-icon-left" ui-sref="abrirPedido">
			<i class="icon ion-person-add"></i>
			Abrir Conta
		</a>
		
		<a class="item item-icon-left" ui-sref="verPedidos({acao: 'adicionarItens'})">
			<i class="icon ion-plus-round"></i>
			Adicionar Itens à Conta
		</a>

		<a class="item item-icon-left" ui-sref="verPedidos({acao: 'fechar'})">
			<i class="icon ion-social-usd"></i>
			Ver Conta
		</a>

		<a class="item item-icon-left" ui-sref="cadastrarProduto">
			<i class="icon ion-cube"></i>
			Cadastrar Produto
		</a>

		<a class="item item-icon-left" ui-sref="estoque">
			<i class="icon ion-ios-box"></i>
			Ver Produtos
		</a>

		<a class="item item-icon-left" ui-sref="listaFaturamentos">
			<i class="icon ion-ios-briefcase"></i>
			Ver Faturamentos
		</a>

	</div>
</ion-content>

</ion-view>